.dateGroup {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;

  h2 {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  button {
    background: transparent;
    border: none;
    color: #c00;
    font-size: 20px;
    cursor: pointer;
  }
}

.lessonItem {
  font-size: 18px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 0.4rem;
}


.dateGroup {
  margin-top: 2rem;
  padding: 1rem;
  background: cornflowerblue;
  border-radius: 1rem;

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .lessonItem {
    padding: 0.6rem 0;
    border-top: 1px dashed #ccc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      color: #ccc;

      &:hover {
        color: red;
      }
    }
  }
}


